---
name: {{.Name}}
description: "{{.Description}}"
hidden: {{.HiddenForOpenCode}}
model: {{.ModelOpenCode}}{{if .ToolsOpenCode}}
tools:{{range .ToolsOpenCode}}
    {{.}}{{end}}{{end}}{{if .GeneratedSkills}}
skills:{{range .GeneratedSkills}}
    - {{.}}{{end}}{{end}}{{if .Role}}
tags:
    - role:{{.Role}}{{end}}{{if .Color}}
color: "{{.Color}}"{{end}}{{if .Dependencies}}
dependencies:{{range .Dependencies}}
    - {{.}}{{end}}{{end}}
---
